body{
    margin: 0;
}

.fejlec{
    width: 100%;
    height: 250px;
    color: #2C3639;
}

#lefthalf{
    background: url(img/Charles_simonyi.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -100px;
    width: 50%;
    position: absolute;
    left: 0;
    height: 100%;
}

#righthalf{
    background: url(img/Muszka_Daniel.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -100px;
    width: 50%;
    position: absolute;
    right: 0;
    height: 100%;
}

.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s all ease-in-out;
    overflow: hidden;
    opacity: 0;
    background-color: black;
}

#lefthalf:hover .overlay,
#righthalf:hover .overlay{
    opacity: 0.4;
}

#lefthalf:hover,
#righthalf:hover {
    transform: scale(1.2);
}